{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        {% block title %}
            
        {% endblock title %}
    </title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/messages.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div>
        {% include 'navbar.html' %}
    </div>
    <div>
        {% include 'messages.html' %}
        {% block content %}

        {% endblock content %}
    </div>
    
    {% include 'scripts.html' %}
    <script src="{% static 'js/messages.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
</body>
</html>